*{
	padding: 0px;
	margin: 0px;
}


body {
	background: #F2F9FD;
	font-family: "proxima-nova",sans-serif;
	font-weight: normal;
}

h1,
h2,
h3{
	font-family: "baskerville-urw", serif;
	font-weight: normal;
}

h1{
	text-align: center;
	font-size: 2em;
}

p{
	line-height: 1.4;
	font-size: 18px;
}

.bold{
	font-weight: bold;
}

/***********/
/* nav bar */
/***********/
nav{
	background: #3F90CE;
	display: flex;
}

nav ul{
	display: flex;
	align-items: center;
  justify-content: center;
}

header ul{
	list-style-type: none;
	width: 100%;
	text-align: center;
}

header li{
	width: 24%;
	display: inline-block;
	padding: 2em 0;
	font-family: "baskerville-urw", sans-serif;
	font-size: 14px;
}

header a{
	text-decoration: none;
	color: #1D4486;
}

header img{
	width: 300px;
	margin: 2.5em 0 0 3%;
	padding-bottom: 1em;
}

#info {
	display: inline-block;
	font-family: "baskerville-urw", sans-serif;
    float: right;
    padding: 5em 5%;
    text-align: center;
    font-size: 14px;
    height: 30px;
    color: #3F90CE;
}

/*section{
	padding-top: 3em;
}*/


/*********************/
/*     MODULE 1      */
/* Welcome section   */
/* BACKGROUND IMAGES */
/*********************/


#welcome-page{
	background: url("../images/gavel_background.jpg");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#small-business{
	background: url("https://i.imgur.com/anFu90k.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#trademark-and-copyright{
	background: url("https://i.imgur.com/TMbctQU.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#wills-and-trust{
	background: url("https://i.imgur.com/ZzhhL29.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#buyers-attorney{
	background: url("https://i.imgur.com/ekHTvT8.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#exchange-escrow{
	background: url("https://i.imgur.com/bHGowbm.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#why-us{
	background: url("https://i.imgur.com/N6OMsPb.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#real-estate{
	background: url("https://i.imgur.com/jRTNmeM.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#sellers-attorney{
	background: url("https://i.imgur.com/Hj4cK89.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#rates{
	background: url("https://i.imgur.com/115drzu.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#rates{
	background: url("https://i.imgur.com/115drzu.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#rates{
	background: url("https://i.imgur.com/115drzu.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

#rates{
	background: url("https://i.imgur.com/115drzu.png");
	background-position: fixed;
	background-size: cover;
	/*height: 307px;*/
	padding: 0 2% 1em 2%;
}

/*.module1{
	background-position: fixed;
	background-size: cover;
	height: 307px;
	padding: 0 2% 1em 2%;
}*/
.module1 div{
	padding-top: 0;
	width: 100%;
	text-align: center;
	color: white;
}

.module1 h1{
	padding: 2em 0 1.5em 0;
}

.module1 p{
	width: 83%;
	margin: 0 auto 1em auto;
}

header div{
	height: 170px;
	background: #F2F9FD;
}

/*******************/
/*     MODULE 2    */
/* 3 PHOTO TIER    */
/*******************/
.module2{
	background: #3F90CE;
	padding: 2em 1% 3em 1%;
	color: white
}

#mod2-center-text{
	text-align: center;
}

.module2 h1{
	padding: 1em 0;
}

.module2 div{
	width: 31%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 1%;
}

.circle_pic{
	height: 122px;
	width: 122px;
	border-radius: 64px;
	border: 2px solid white;
}

/*******************/
/*     MODULE 3    */
/* OFFICE LOCATIONS*/
/*******************/
.module3{
	padding: 3em 0;
}

.module3 h2{
	font-family: "proxima-nova", sans-serif;
}

.module3 ul{
	list-style-position: inside;
	line-height: 1.4;
}

.indented-list{
	padding-left: 23%;
}

.module3 div{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 2%;
}

.module3 p{
	font-size: 16px;
}

#grey-text{
	color: #b1aeae;
}

/***********************/
/*       MODULE 7
         LARGE LIST    */
/***********************/
.module7{
    padding: 2em 10% 4em 10%;
}

.module7 .sans-serif{
	margin-top: 2em;
	margin-bottom: 2em;
}

.module7 p{
	margin: 2%
}

/***********************/
/*       MODULE 4
         LARGE LIST    */
/***********************/
.module4{
	padding: 3em 2%;
}

#subtitle{
	width: 65%;
	text-align: center;
	margin: 0 auto;
}

#module4-container-div div{
		display: inline-block;
		width: 28%;
		text-align: left;
		vertical-align: top;
		padding: 2%;
}

#module4-container-div h1{
	text-align: left;
}

/***********************/
/*       MODULE 5
      SIMPLE LAYOUT    */
/***********************/
.module5{
	background: #3F90CE;
	margin: 0 auto;
	padding: 3em 2%;
	color: white
}

.module5 div{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0;
}

.module5 p{
	margin: 1em auto;
	width: 70%;
}

.module5 h1{
	text-align: left
}

.module5 > h1{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}


/***********************/
/*       MODULE 8
         PHOTO GRID    */
/***********************/
.module8{
	text-align: center;
	padding: 3em 0;
}

.module8 img{
	width: 275px;
}

.grid-align{
	vertical-align: top;
	display: inline-block;
	margin: 0 2%;
}

.image-wrapper{
	max-width:950px;
	margin: 0 auto;
}

.image-container {
	display: inline-block;
	margin: 2.5em 1%;
  position: relative;
  width: 275px;
  height: 150px;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    background: rgba(0, 0, 0, .4);
		align-items: center;
    justify-content: center;
    display: flex;
		font-size: 22px;
}

.container{
	background: white;
	padding-bottom: 2em;
}


.module8 p{
	text-align: left;
	padding: 7%;
}

.module8 > p{
	padding:2em;
	width: 65%;
  margin: 0 auto;
}
/***********************/
/*       MODULE 9
         REVIEWS       */
/***********************/
.module9{
	padding: 3em;
	background: white;
	text-align: center;
}

#star-rating img{
	width: 30%;
}

.module9 h1{
	margin: 2em auto;
	width: 70%;
	color: grey;
}

#grey-review-location{
	color: grey;
}

.module9 span{
	margin: 0 1%;
}

/*******************/
/*     MODULE 11   */
/*    CONTACT US   */
/*******************/
.module11{
	background: #1D4486;
	color: white;
	padding: 4em 1% 3em 1%;
	text-align: center
}

.module11 > div{
	display: inline-block;
	vertical-align: top;
	width: 44%;
	text-align: left;
	margin-bottom: 2%;
}

#right-div{
	text-align:right;
}

/***********************/
/*       MODULE 12
     COMMON QUESTIONS  */
/***********************/
.module12{
	padding: 3em 0;
	min-height: 355px;
}

.module12 div{
	width: 47%;
	vertical-align: top;
	display: inline-block;
	padding-right: 2%;
}

.module12-wrapper{
	width: 84%;
	margin: 0 auto
}

#question1,
#question2,
#question3{
	cursor: pointer
}

#answer1,
#answer2,
#answer3{
	display: none;
}

#answer1.hidden,
#answer2.hidden,
#answer3.hidden{
	display: block;
}

/***********************/
/*       MODULE 13     */
/***********************/
.module13{
	background: #3F90CE;
	margin: 0 auto;
	padding: 5em 11%;
	color: white
}

/**************************/
/* legal services section */
/**************************/

.legal-services{
	padding-top: 4em;
}

.service-container{
	width: 70%;
	margin: 0 auto;
	padding-bottom: 4em;
}

.service-container div{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 2em;
}

.service-div{
	width: 49%;
}

.service-div img{
	width: 100px;
	padding: 3em 0 3em 0;
}

.service-div p{
	margin: 0 auto 2em auto;
	width: 250px;
	text-align: left;
}

/* Find out More Section */
.find-out-more{
	background: url("../images/scale_of_justice.jpg");
	background-position: fixed;
	background-size: cover;
	padding-bottom: 4em;
}

.find-out-more div{
	width: 45%;
	padding: 2em;
}

.find-out-more ul{
	padding: 2em 0 0 1em;
    margin-bottom: 4em;
}

.find-out-more div .button,
.button,
button{
	padding: 0.6em;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    font-family: "proxima-nova", sans-serif;
		background:none;
		font-size: 18px;
}

.find-out-more .button,
.resources .button{
	margin: 0 auto;
}

.button:hover{
	background: white;
	cursor: pointer;
	color: black;
}

.white-button{
	border: 2px solid white;
	color: white;
	line-height: 1;
  font-size: 18px;
	margin-top: 2em;
}

.white-button a,
.white-button a:visited,
.white-button a:hover,
.white-button a:active
 {color:#FFFFFF;
 text-decoration: none;}

#right-button{
	float: right
}

.white-button-margin{
	margin-top: 0
}
/****************************/
/* The right choice section */
/****************************/
.the-right-choice{
	padding-top: 3em;
	margin: 0 8%;
}
.choice-container{
	border-bottom: 1px solid black;
	margin: 0 auto;
    padding: 0 8% 2em 8%;
    max-width: 700px;
}

.the-right-choice h1{
	padding: 2em 0%;
}

.choice-container h2{
	font-size: 1.3em;
}

.choice-container div{
	margin-bottom: 2em;
	display: inline-block;
}

.lefty{
	float: right;
}

.righty img,
.lefty img{
	width: 100%;
	display: inline-block;
}

.right-text{
	display: inline-block;
	float: right;
	text-align: left;
	width: 75%;
}

.left-text{
	display: inline-block;
	float: left;
	text-align: left;
	width: 75%;
}

#legal_consultation img{
	height: 150px;
	width: 132px;
}
/***************/
/* Contact Us */
/***************/
.contact-us form{
	position: relative;
}

.special-message{
	position: absolute;
	left: 57%;
	top: 0;
}

.contact-us{
	padding: 4em 3% 5em 3%;
}


.contact-us h1,
.find-out-more h1{
	padding-bottom: 1em;
}

select{
	font-size: 15px;
	background-color: white;
	border-radius: 0px;
	width: 21%;
	min-width: 220px;
	height: 36px;
	margin: 1.5em 0;
	border: 2px solid black;
}

#subtopic{
	margin-left: 11%;
}

input{
	font-size: 15px;
	height: 42px;
	width: 46%;
	margin: 1.5em 0%;
	padding: 0 10px;
	border: 2px solid black;
}

textarea{
	font-size: 15px;
	width: 98%;
	height: 325px;
	padding: 10px 10px;
	margin: 1em 0 5em 0;
	border: 2px solid black;
}

/*********************/
/* resources Section */
/*********************/
.resources{
	background: #3F90CE;
	color: white;
	padding: 5em 0 5em 0;
}

.resources p{
	text-align: center;
}

#convenience{
	margin: 3em auto;
	width: 40%;
	text-align: left;
}

.resources .button{
	border: 2px solid white;
}

/*********************/
/* footer section   */
/*********************/
footer{
	text-align: center;
	background: #141422;
	color: white;
	padding: 3em 1em 0em 1em;
}

footer ul{
	padding-bottom: 3em;
}

footer li{
	display: inline-block;
	padding: 1em;
}

footer a{
	font-family: "proxima-nova",sans-serif;
	text-decoration: none;
	color: white;
}

footer img{
	width: 20%;
	margin: 2em 0 1em 0;
}

/***********************/
/* HEADLINES TYPOGRAPHY*/
/***********************/
.sans-serif{
	font-family: "proxima-nova",sans-serif;
}

/************************************/
/*For mobile devices less than 750px*/
/************************************/
@media only screen and (max-width: 750px){

	header div{
		height: 200px;
	}

	header img{
		padding-bottom: 2em;
	}

	.module1 h1,
	.module1 p,
	.find-out-more div{
		width: 70%;
		margin: 0 auto;
	}

	.module1 h1,
	header div{
		padding-top: 2em;
	}

	.module1 p{
		padding-bottom: 4em;
	}

	.module1{
		height: auto;
		padding-bottom: 2em;
	}

  	.right-text,
  	.left-text,
  	#convenience,
  	#info{
  		width: 100%;
  	}

  	.choice-container div{
  		text-align: center;
  	}

  	.choice-container p{
		text-align: left;
	}

	.lefty{
		float: none;
	}

	.find-out-more ul
	{
		margin-bottom: 2em;
	}

	#info,
	.module9{
		padding: 0;
	 }

	 #logo{
    	margin: 0 auto;
        display: block;
	 }

	.resources,
	footer{
		padding: 4em 15% 4em 15%;
	}

	footer li{
	    padding: 0 0 1em 5%;
	}

	footer img{
		width: 50%;
	}
}
/************************************/
/* E - MAIL STUFF                   */
/************************************/


/************************************/
/*For mobile devices less than 870px*/
/************************************/

@media only screen and (max-width: 870px){
	.find-out-more{
		height: auto;
	}

	.service-div,
	input,
	textarea,
	.module2 div,
	.module3 > div,
	.module5 div,
	.module11 div,
	.module12 div,
	#module4-container-div div{
		width: 94%;
	}

	.module11 > div,
	#right-div{
		text-align: center;
	}

	/*fixed navigation bar for mobile*/
	nav{
		position: fixed;
		left: 0px;
		bottom: 0px;
		height: 50px;
		width: 100%;
		z-index:100;
	}

	nav li{
		font-size: 10px;
	}

	.special-message{
		position: relative;
		left: auto;
		margin-top: 2em;
	}
}
