*{
	padding: 0px;
	margin: 0px;
}


body {
	background: #F2F9FD;
}

h1,
h2,
h3{
	font-family: 'Libre Baskerville', serif;
}

h1{
	text-align: center;
	font-size: 1.7em;
}

p{
	font-family: Arial, sans-serif;
}
/* nav bar */
nav{
	background: #3F90CE;
}

header ul{
	list-style-type: none;
	width: 100%;
	text-align: center;
}

header li{
	width: 24%;
	display: inline-block;
	padding: 2em 0;
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
}

header a{
	text-decoration: none;
	color: #1D4486;
}

header img{
	width: 300px;
	margin-top: 2.5em;
	margin-left: 3%;
}

#info {
	display: inline-block;
	font-family: 'Libre Baskerville', serif;
    float: right;
    padding: 5em 5%;
    text-align: center;
    font-size: 14px;
    height: 30px;
    color: #3F90CE;
}

section{
	padding-top: 3em;
}

/* header section */
.welcome{
	background: url("../images/gavel_background.jpg");
	background-position: fixed;
	background-size: cover;
	height: 350px;
}

.welcome div{
	padding-top: 0;
	width: 100%;
	text-align: center;
	color: white;
}

.welcome h1{
    padding-top: 3em;
    padding-bottom: 1em;
}

header div{
	height: 170px;
	background: #F2F9FD;
}

/* legal services section */

.legal-services{
	padding-top: 4em;
}

.service-container{
	width: 70%;
	margin: 0 auto;
	padding-bottom: 4em;
}

.service-container div{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 2em;
}

.service-div{
	width: 49%;
}

.service-div img{
width: 100px;
padding-top: 3em;
padding-bottom: 3em;
}

.service-div p{
	margin: 0 auto;
	width: 226px;
	margin-bottom: 2em;
	text-align: left;
}

/* Find out More Section */
.find-out-more{
	background: url("../images/scale_of_justice.jpg");
	background-position: fixed;
	background-size: cover;
	height: 650px;
}

.find-out-more h1{
	padding-bottom: 1em;
}

.find-out-more div{
	width: 45%;
	padding: 2em;
}

.find-out-more ul{
	padding-top: 2em;
    padding-left: 1em;
    margin-bottom: 4em;
}

.find-out-more div .button,
.button{
	padding: 0.6em;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.find-out-more .button,
.resources .button{
	margin: 0 auto;
}

.button:hover{
	background: #F2F9FD;
	cursor: pointer;
}


/* The right choice section */
.the-right-choice{
	padding-top: 3em;
	margin: 0 8%;
}
.choice-container{
	border-bottom: 1px solid black;
	margin: 0 auto;
    padding: 0 8% 3em 8%;
    max-width: 700px;
}

.the-right-choice h1{
	padding: 2em 0%;
}

.choice-container h2{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.3em;
}


.choice-container div{
	margin-bottom: 2em;
	display: inline-block;
}

.lefty{
	float: right;
}

.righty img{
	width: 100%;
	display: inline-block;
}

.lefty img{
	width: 100%;
	display: inline-block;
}

.right-text{
	display: inline-block;
	float: right;
	text-align: left;
	width: 75%;
}

.left-text{
	display: inline-block;
	float: left;
	text-align: left;
	width: 75%;
}


/* Contact Us */
.contact-us{
	padding: 3em 3% 5em 3%;
}


.contact-us h1{
	padding-top: 1em;
	padding-bottom: 1em;
}

select{
	font-size: 15px;
	background-color: white;
	border-radius: 0px;
	width: 21%;
	min-width: 220px;
	height: 36px;
	margin: 1.5em 0;
	border: 2px solid black;
}

#subtopic{
	margin-left: 11%;
}

input{
	font-size: 15px;
	height: 42px;
	width: 46%;
	margin: 1.5em 0%;
	padding: 0 10px;
	border: 2px solid black;
}

textarea{
	font-size: 15px;
	width: 98%;
	height: 325px;
	padding: 10px 10px;
	margin: 1em 0 5em 0;
	border: 2px solid black;
}

/* resources Section */
.resources{
	background: #3F90CE;
	color: white;
	padding-bottom: 3em;
}

.resources p{
	text-align: center;
}

#convenience{
	margin: 3em auto;
	width: 40%;
	text-align: left;
}

.resources .button{
	border: 2px solid white;
}


/* footer section */
footer{
	text-align: center;
	background: #141422;
	color: white;
	padding: 3em 2em;
}

footer ul{
	padding-bottom: 3em;
}

footer li{
	display: inline-block;
	padding: 1em;
}

footer a{
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: white;
}


/*For mobile devices less than 750px*/
@media only screen and (max-width: 750px){
  	.right-text,
  	.left-text{
  		width: 100%;
  	}

  	.choice-container div{
  		text-align: center;
  	}

  	.choice-container p{
	text-align: left;
	}

	.lefty{
		float: none;
	}
}



/*For mobile devices less than 870px*/

@media only screen and (max-width: 870px){
	#info{
		padding: 0;
		width: 100%;
	}

	header img{
		min-width: 300px;
	}

	.service-div,
	input,
	textarea{
		width: 94%;
	}

	.find-out-more div{
		width: 90%;
	}

	nav{
		position: fixed;
		left: 0px;
		bottom: 0px;
		height: 50px;
		width: 100%;
	}

	nav li{
		width: 22%;
		padding: 0;
		font-size: 10px;
		vertical-align: middle;
		margin-top: 1em;
	}
}


